<section>
    <div class="container">
        <div class="d-flex justify-content-center">
            <input type="text" class="form-control w-75 mt-5" placeholder="Search..." [(ngModel)]="term">
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 g-4 py-3 rounded-3 productsHover" *ngFor="let item of productsData | searching: term ">
                <div [routerLink]="['/details' , item.id]" role="button" routerLinkActive="router-link-active">
                    <h4 class="fs-6 text-main">{{item.category.name}}</h4>
                    <h3 class="fs-4">{{item.title | textCutting}}</h3>
                    <div class="d-flex justify-content-between"> 
                        <span> {{item.price | currency:'EGP' }}</span>
                        <span> {{item.ratingsAverage }} <i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <img [src]="item.imageCover" class="w-100" alt="imgs of items">
                </div>
                <div class="d-flex justify-content-between">
                    <button class="my-1 main-btn px-5 mx-auto"(click)="openCart(item.id)">+Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
    
</section>