<section class="bg-main-light p-5 mt-5">
    <div class="container">
        <div class="footer-content border-bottom align-items-center">
            <h2>Get the <span class="text-main">freshCard</span>  app</h2>
            <p>We will send you a link ,open it on your phone to download the app . </p>
            <div class="d-flex justify-content-between mb-3">
                <input type="email" placeholder="Write your Email..." class="form-control w-75" >
            <button class="btn main-btn">Share App Link</button>
            </div>
            
            

        </div>
        <div class="d-flex justify-content-between mt-3">
            <div class="d-flex">
                <p class="fw-bold">payment partners : </p>
                <i class="fa-brands fa-cc-mastercard px-2"></i>
                <i class="fa-brands fa-cc-paypal px-2"></i>
                <i class="fa-regular fa-credit-card px-2"></i>
            </div>
            <div class="d-flex">
                <p class="fw-bold">Get Deliveries FreshCart :</p>
                <i class="fa-brands fa-app-store px-2"></i>
                <i class="fa-brands fa-google-play"></i>
            </div>
        </div>
    </div>
    

</section>