<section>
    <div class="container">
        <div class="row  align-items-center g-4 mt-4" >
            <div class="col-md-3" >


                <owl-carousel-o [options]="detailsSlider">

                    <ng-container *ngFor="let item of DetailsData.images">
                      <ng-template carouselSlide >
                        <img [src]="item" [alt]="item.name" [title]="item.title">
                      </ng-template>
                    </ng-container>
                
                  </owl-carousel-o>
            </div>
            <div class="col-md-9">
                <h2 class="mb-4 fw-bolder">{{DetailsData.title}}</h2>
                <p>{{DetailsData.description}}</p>
                <button class="w-100 main-btn mt-5" (click)="openCart(DetailsData.id)">+Add to cart</button>
            </div>
        </div>
    </div>
</section>